
 <!--===== ABOUT =====-->
 <section class="about section " id="about">
  <h2 class="section-title">About</h2>

  <div class="about__container bd-grid">
      <div class="about__img">
          <img src="assets/img/pp.jpg" alt="">
      </div>

      <div>
          <h2 class="about__subtitle">I'am lobna</h2>
          <p class="about__text">.A talented graduate developer with a passion for developing innovative programs that expedite the efficiency and effectiveness of organizational success

              I'm Professional at:
              Design Responsive Website.
              WordPress Sites
              Templates Editing
              Custom Design ( Also as per you thoughts)
              Design like another website
              PHP, SQL
              Database implementation
              My goal is to create amazing websites and web-based applications that drive your business. Focusing on PHP, Wordpress, Laravel, Html, Css, Javascript, User experience and visual design.</p>
      </div>
  </div>
</section>
