
<!--===== WORK =====-->
<section class="work section" id="work">
  <h2 class="section-title">Work</h2>

  <div class="work__container bd-grid">
      <div class="work__img">
          <img src="assets/img/image1.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/image3PNG.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/image4.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/Capture.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/Capture1.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/imag6.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/image7.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/image8.PNG" alt="">
      </div>
      <div class="work__img">
          <img src="assets/img/image9.PNG" alt="">
      </div>
  </div>
</section>
