



          <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">LOBNA</a>
            </div>

            <div class="nav__menu" id="nav-menu">


                <ul class="nav__list">
                    <li class="nav__item m-2"><a href="#home" class="nav__link active">Home</a></li>

                 <li class="nav__item m-2"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item m-2"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item m-2"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item m-2"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
              </div>


            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Lobna Hassan</span><br> Full stack developer</h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <!-- <div class="home__social">
                    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div> -->

                <div class="home__img">
                    <img src="assets/img/pp.jpg" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="assets/img/pp.jpg" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">I'am lobna</h2>
                        <p class="about__text">.A talented graduate developer with a passion for developing innovative programs that expedite the efficiency and effectiveness of organizational success

                            I'm Professional at:
                            Design Responsive Website.
                            WordPress Sites
                            Templates Editing
                            Custom Design ( Also as per you thoughts)
                            Design like another website
                            PHP, SQL
                            Database implementation
                            My goal is to create amazing websites and web-based applications that drive your business. Focusing on PHP, Wordpress, Laravel, Html, Css, Javascript, User experience and visual design.</p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">

                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">Database</span>
                            </div>
                            <div class="skills__bar skills__Database">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">React</span>
                            </div>
                            <div class="skills__bar skills__React">

                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">PHP</span>
                            </div>
                            <div class="skills__bar skills__ux">

                            </div>
                            <div>
                                <span class="skills__percentage">75%</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="assets/img/work4.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="assets/img/image1.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/image3PNG.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/image4.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/Capture.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/Capture1.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/imag6.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/image7.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/image8.PNG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="assets/img/image9.PNG" alt="">
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">LOBNA</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>



<router-outlet></router-outlet>
